.pickup
  = link_to root_path do
    = image_tag("hero_thumb.png", class: "pickup__image")
    = image_tag("background_1.jpg", class: "pickup__image__background")
  .pickup__msg
    = link_to "Makuakeで「世の中をワクワクさせるようなプロジェクト」を掲載してみませんか", root_path, class: "pickup__msg__link"
    / %h1 Makuakeで「世の中をワクワクさせるようなプロジェクト」を<br>掲載してみませんか
  .pickup__view-btn VIEW
