.content {

  .catch-copy {
    text-align: center;

    &__top {
      font-size: 26px;
      margin: 30px 0 26px 0;
    }

    &__bottom {
      font-size: 16px;
      color: #7f8488;
    }

  }

  .project {
    width: 1300px;
    height: 900px;
    margin: 0 auto;
    margin-left: 230px;


    &__box {
      float: left;
      margin-right: 35px;
      margin-bottom: 35px;

      &__top {
        height: 174px;
        width: 310px;
      }

      &__top > p {
        line-height: 1.6;
        font-size: 17px;
        padding: 12px 14px 0;
        color: #333333;
      }

      &__middle{
        height: 30px;
        padding: 0 15px;

        &__time {
          font-size: 17px;
          float: left;

          &__image{
            float: left;
            margin-top: 3px;
            margin-right: 8px;
          }

        }

        &__time > p {
          float: left;

        }

        &__money {
          font-size: 17px;
          float: right;

          &__image{
            float: left;
            margin-top: 3px;
            margin-right: 8px;
          }

        }

        &__money > p {
          float: left;
        }

      }

      &__bottom{
        float: left;


        &__gage {
          float: left;
          margin: 0 12px;
          border-radius: 3px;
          width: 200px;
          background-color: #e7e7e7;
          border-bottom: 2px solid #e7e7e7;
          background-color: #bbf117;
          height: 8px;
          border-radius: 3px;
          margin-top: 6px;
        }

        &__per {
          font-size: 14px;
          padding: 0 0 0 10px;
          float:right;
        }

      }

    }

  }

  .new {
    width: 1100px;
    height: 450px;
    margin: 0 auto;
    margin-left: 230px;


    &__project{
      height: 30px;
      margin-bottom: 15px;

      &__icon{
        float: left;
      }

      &__title{
        float: left;
        font-size: 23px;
      }

      &__box {
        float: left;

        &__in {
          float: left;
          height: 200px;
          width: 230px;
          margin-right: 25px;

          &__image {
            border-radius: 3px;
          }

          &__text {
            color: #333333;
            font-size: 14px;
            line-height: 1.8;
          }
        }

      }

    }

  }

  .sudden__rise, .ranking{
    width: 1100px;
    height: 350px;
    margin: 0 auto;
    margin-left: 230px;


    &__project{
      height: 40px;
      margin-bottom: 15px;

      &__icon{
        float: left;
      }

      &__title{
        float: left;
        font-size: 23px;
      }

      &__box {
        float: left;

        &__in {
          float: left;
          height: 200px;
          width: 201px;

          &__image {
            border-radius: 3px;
          }

          &__title {
            color: #333333;
            font-size: 14px;
            line-height: 1.8;
            float: left;
            width: 188px;
          }

          &__text {
            color: #696969;
          }
        }

      }

    }

  }

  .store {
    height: 670px;

    &__title {
      width: 100%;
      text-align: center;

      &__image {
      margin: 0 auto;
      }

      &__text {
        font-size: 18px;
        margin: 18px 0 36px;
      }
    }

    &__prod {
      width: 1300px;
      margin-left: 230px;
      float: left;

      &__box {
        width: 310px;
        float: left;
        margin-right:30px;

        &__top {
          line-height: 1.6;
          font-size: 17px;
          padding: 12px 14px 0;
          color: #333333;
        }

        &__top > p {
          color: #333333;
        }

        &__bottom {
          height: 50px;
          width: 310px;
          &__stock{
            color: red;
            float:left;
          }

          &__money{
            float:right;

            &__image{
              float:left;
              margin-top: 3px;
            }
          }

          &__money > p {
            float:right;

          }

        }
      }
    }

  }

  .mk-content{
    width: 1100px;
    height: 350px;
    margin: 0 auto;
    margin-left: 230px;
    margin-top: 20px;

    &__project {
      margin-bottom: 20px;

      &__icon {
        float:left;
        margin-top: 5.5px;
      }


      &__title {
        font-size: 24px;
      }

      &__box {

        &__in {
          float:left;
          margin-right: 30px;

          &__text {
            padding-top: 10px;
            text-align: center;
          }
        }
      }

    }

  }


  .report{
    padding-left: 230px;
    height: 370px;
    width:50%;

    float:left;

    &__title{
      height: 35px;

      &__icon{
        float:left;
      }

      &__body{
        float:left;
        font-size: 24px;
      }

    }

    &__box{
      float:left;
      width: 480px;
      height: 360px;

      &__in{
        height: 100px;

        &__image{
          float:left;
        }

        &__body{
          float: right;
          width:270px;
          font-size: 12px;


          &__bold{
            color: #333333;
            font-weight: bold;
          }

          &__time {

          }

          &__thin{
            color: #333333;
          }
        }
      }

    }

  }

  .note{
    height: 370px;
    width:50%;
    float:right;
    position: absolute;
    left: 760px;

    &__title{
      height: 35px;

      &__icon{
        float:left;
      }

      &__body{
        float:left;
        font-size: 24px;
      }

    }

    &__box{
      float:left;
      width: 480px;
      height: 360px;

      &__in{
        height: 100px;

        &__image{
          float:left;
        }

        &__body{
          float: right;
          width:270px;
          font-size: 12px;


          &__bold{
            color: #333333;
            font-weight: bold;
          }

          &__time {

          }

          &__thin{
            color: #333333;
          }
        }
      }

    }

  }

  .bottom-copy {
    padding-left: 230px;
    width: 1200px;
    float :left;
    color: #808080;
    font-size: 14px;
    line-height: 60px;
    height: 54px;
    text-align: center;
    &__top {
      margin-bottom: 10px;
    }
    &__bottom {
      font-size: 12px;
      line-height: 2;
    }
  }

}
